@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 3% 0 0;
    height: 4.8rem;
    z-index: 10;
}
.logo img {
    margin-top: 0.4rem;
    height: 4.8rem;
}
.navbar a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 0 2.5rem;
}
.navbar a:hover {
    background-color: rgb(190, 190, 190);
    padding: 1.3rem 2.5rem;
}
#review-button {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #474747;
    color: white;
    margin-left: 2.5rem;
    padding: 0.7rem 2.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#review-button:hover {
    background-color: black;
}

#menu-checkbox {
    display: none;
}
.icons {
    display: none;
    font-size: 2.8rem;
    color: black;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

#review-page {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: -17.7rem -40rem;
    width: 80rem;
    height: 40rem;
    z-index: 10;
}
#review-page h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 2rem 0 1.5rem;
}
#subject-selector {
    font-size: 1.2rem;
    border-radius: 0.6rem;
    margin: 0 0 1.4rem 5%;
    padding: 0.5rem;
    width: 90%;
}
#subject-selector:hover {
    background-color: rgb(231, 231, 231);
}
#review-page h6 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 5%;
}
#review-page textarea {
    resize: none;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    margin-left: 5%;
    padding: 0.5rem;
    width: 88.6%;
}
#review-page textarea:hover {
    background-color: rgb(231, 231, 231);
}
#textarea-name {
    margin-bottom: 1rem;
}
#textarea-review {
    height: 8rem;
}
#review-page span {
    display: none;
    font-size: 1.2rem;
    color: red;
    margin-left: 5%;
}
#review-page button {
    font-size: 1.2rem;
    background-color: #474747;
    border: none;
    color: white;
    border-radius: 0.7rem;
    padding: 0.6rem 0;
    width: 9rem;
    cursor: pointer;
}
#review-page button:hover {
    background-color: black;
}
#close-review-button {
    position: absolute;
    bottom: 2rem;
    left: 5%;
}
#submit-button {
    position: absolute;
    bottom: 2rem;
    right: 5%;
}

.page-title {
    margin-top: 0.7vw;
}

.description {
    padding: 100px;
}

.subject{
    background-color: rgb(40, 49, 105);
    padding: 3rem 0 2rem 0;
}
.subject h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.subject-container {
    margin: 0 10rem 2rem;
}
.subject-container header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    background-color: rgb(184, 208, 252);
    border-radius: 1.5rem;
    padding: 1rem 0;
    cursor: pointer;
}

.reviews-container {
    display: none;
    margin: 1.5rem 0 0 3.5rem;
}
.review-title {
    font-size: 1.5rem;
    font-weight: 500;
}
.reviews-content {
    background-color: #c4dbff;
    color: black;
    margin: 0;
    padding: 0 15px;
    border: 5px solid (40,49,105);
    border-radius: 12px;
}
.reviews-head {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 0;
}
.reviews-body {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 6px;
    width: auto;
    overflow-wrap: break-word;
}

@media (max-width: 1280px) {
    .header {
        height: 4rem;
    }
    .logo img {
        height: 4rem;
    }
    .navbar a {
        font-size: 1.3rem;
        padding: 0 2rem;
    }
    .navbar a:hover {
        padding: 1rem 2rem;
    }
    #review-button {
        font-size: 1.3rem;
        margin-left: 1.8rem;
        padding: 0.5rem 2rem;
        border-radius: 0.8rem;
    }
}

@media (max-width: 850px) {
    .header {
        height: 3.2rem;
    }
    .logo img {
        height: 3.2rem;
    }
    .navbar a {
        font-size: 1.1rem;
        padding: 0 1.5rem;
    }
    .navbar a:hover {
        padding: 0.75rem 1.5rem;
    }
    #review-button {
        font-size: 1.1rem;
        margin-left: 1.3rem;
        padding: 0.4rem 1.5rem;
        border-radius: 0.6rem;
    }
}

@media (max-width: 680px) {
    .icons {
        display: inline-flex;
    }
    .icons #close-menu-button {
        display: none;
    }
    #menu-checkbox:checked~.icons #menu-button {
        display: none;
    }
    #menu-checkbox:checked~.icons #close-menu-button {
        display: block;
    }
    #menu-checkbox:checked~.navbar {
        height: 9.55rem;
    }
    #menu-checkbox:checked~.navbar a {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        background-color: rgb(231, 231, 231);
    }
    .navbar a {
        display: none;
        text-align: center;
        font-size: 1.1rem;
        padding: 0.75rem 0;
    }
    .navbar a:hover {
        padding: 0.75rem 0;
    }
    #review-button {
        position: absolute;
        top: -2.9rem;
        right: 5rem;
    }
}

@media (max-width: 300px) {
    #menu-checkbox:checked~.navbar {
        height: 7.5rem;
    }
    .header {
        height: 2.8rem;
    }
    .logo img {
        height: 2.9rem;
    }
    .navbar a {
        font-size: 0.9rem;
        padding: 0.6rem 0;
    }
    .navbar a:hover {
        padding: 0.6rem 1.5rem;
    }
    #review-button {
        font-size: 0.9rem;
        margin: 0.6rem 0 0 1.2rem;
        padding: 0.25rem 1.2rem;
        border-radius: 0.6rem;
    }
}

@media (max-width: 2000px) {
    #review-page {
        border-radius: 0.8rem;
        margin: -15.1rem -35rem;
        width: 70rem;
        height: 35rem;
    }
    #review-page h1 {
        font-size: 2.2rem;
        margin: 1.8rem 0 1.3rem;
    }
    #subject-selector {
        font-size: 1.1rem;
        border-radius: 0.5rem;
        margin: 0 0 1.2rem 5%;
        padding: 0.4rem;
    }
    #review-page h6 {
        font-size: 1.1rem;
        margin: 0 0 0.3rem 5%;
    }
    #review-page textarea {
        font-size: 1.1rem;
        border-radius: 0.5rem;
        margin-left: 5%;
        padding: 0.4rem;
        width: 89%;
    }
    #textarea-name {
        margin-bottom: 0.8rem;
    }
    #textarea-review {
        height: 7rem;
    }
    #review-page span {
        display: none;
        font-size: 1.1rem;
        color: red;
        margin-left: 5%;
    }
    #review-page button {
        font-size: 1.1rem;
        border-radius: 0.6rem;
        padding: 0.5rem 0;
        width: 8rem;
    }
    #close-review-button {
        bottom: 1.6rem;
    }
    #submit-button {
        bottom: 1.6rem;
    }
}

@media (max-width: 1740px) {
    #review-page {
        border-radius: 0.7rem;
        margin: -12.6rem -30rem;
        width: 60rem;
        height: 30rem;
    }
    #review-page h1 {
        font-size: 2rem;
        margin: 1.5rem 0 1rem;
    }
    #subject-selector {
        font-size: 1rem;
        border-radius: 0.4rem;
        margin: 0 0 1rem 5%;
        padding: 0.3rem;
    }
    #review-page h6 {
        font-size: 1rem;
        margin: 0 0 0.25rem 5%;
    }
    #review-page textarea {
        font-size: 1rem;
        border-radius: 0.4rem;
        margin-left: 5%;
        padding: 0.3rem;
        width: 88.8%;
    }
    #textarea-name {
        margin-bottom: 0.6rem;
    }
    #textarea-review {
        height: 6rem;
    }
    #review-page span {
        display: none;
        font-size: 1rem;
        color: red;
        margin-left: 5%;
    }
    #review-page button {
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 0.4rem 0;
        width: 6.5rem;
    }
    #close-review-button {
        bottom: 1.4rem;
    }
    #submit-button {
        bottom: 1.4rem;
    }
}

@media (max-width: 1500px) {
    #review-page {
        border-radius: 0.6rem;
        margin: -10.7rem -26rem;
        width: 52rem;
        height: 26rem;
    }
    #review-page h1 {
        font-size: 1.8rem;
        margin: 1.3rem 0 0.8rem;
    }
    #subject-selector {
        font-size: 0.9rem;
        border-radius: 0.3rem;
        margin: 0 0 0.8rem 5%;
        padding: 0.3rem;
    }
    #review-page h6 {
        font-size: 0.9rem;
        margin: 0 0 0.2rem 5%;
    }
    #review-page textarea {
        font-size: 0.9rem;
        border-radius: 0.3rem;
        margin-left: 5%;
        padding: 0.3rem;
        width: 88.6%;
    }
    #textarea-name {
        margin-bottom: 0.4rem;
    }
    #textarea-review {
        height: 5rem;
    }
    #review-page span {
        display: none;
        font-size: 0.9rem;
        color: red;
        margin-left: 5%;
    }
    #review-page button {
        font-size: 0.9rem;
        border-radius: 0.4rem;
        padding: 0.3rem 0;
        width: 5.5rem;
    }
    #close-review-button {
        bottom: 1.2rem;
    }
    #submit-button {
        bottom: 1.2rem;
    }
}

@media (max-width: 1300px) {
    #review-page {
        border-radius: 0.5rem;
        margin: -8.6rem -22.5rem;
        width: 45rem;
        height: 22rem;
    }
    #review-page h1 {
        font-size: 1.5rem;
        margin: 1.1rem 0 0.6rem;
    }
    #subject-selector {
        font-size: 0.9rem;
        border-radius: 0.3rem;
        margin: 0 0 0.6rem 5%;
        padding: 0.3rem;
    }
    #review-page h6 {
        font-size: 0.9rem;
        margin: 0 0 0.15rem 5%;
    }
    #review-page textarea {
        font-size: 0.9rem;
        border-radius: 0.3rem;
        margin-left: 5%;
        padding: 0.3rem;
        width: 88.4%;
    }
    #textarea-name {
        margin-bottom: 0.3rem;
    }
    #textarea-review {
        height: 3.8rem;
    }
    #review-page span {
        display: none;
        font-size: 0.8rem;
        color: red;
        margin-left: 5%;
    }
    #review-page button {
        font-size: 0.9rem;
        border-radius: 0.4rem;
        padding: 0.3rem 0;
        width: 5.5rem;
    }
    #close-review-button {
        bottom: 0.9rem;
    }
    #submit-button {
        bottom: 0.9rem;
    }
}

@media (max-width: 800px) {
    #review-page {
        border-radius: 0.5rem;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 75vw;
        height: 60vh;
    }
    #review-page h1 {
        font-size: 1.3rem;
        margin: 1rem 0 0.4rem;
    }
    #subject-selector {
        font-size: 0.8rem;
        border-radius: 0.3rem;
        margin: 0 0 0.6rem 5%;
        padding: 0.2rem;
    }
    #review-page h6 {
        font-size: 0.8rem;
        margin: 0 0 0.15rem 5%;
    }
    #review-page textarea {
        font-size: 0.8rem;
        border-radius: 0.3rem;
        margin: 0 0 0.2rem 5%;
        padding: 0.2rem;
        width: 88%;
    }
    #textarea-review {
        height: 35%;
    }
    #review-page button {
        font-size: 0.8rem;
        border-radius: 0.4rem;
        padding: 0.3rem 0;
        width: 5.5rem;
    }
    #close-review-button {
        bottom: 1rem;
    }
    #submit-button {
        bottom: 1rem;
    }
}

@media (max-width: 400px) {
    #review-page textarea {
        width: 87%;
    }
}

@media (max-width: 800px) and (max-height: 650px) {
    #textarea-review {
        height: 22%;
    }
}