@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 3% 0 0;
    height: 4.8rem;
    z-index: 10;
}
.logo img {
    margin-top: 0.4rem;
    height: 4.8rem;
}
.navbar a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 0 2.5rem;
}
.navbar a:hover {
    background-color: rgb(190, 190, 190);
    padding: 1.3rem 2.5rem;
}
#review-button {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #474747;
    color: white;
    margin-left: 2.5rem;
    padding: 0.7rem 2.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#menu-checkbox {
    display: none;
}
.icons {
    display: none;
    font-size: 2.8rem;
    color: black;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .header {
        height: 4rem;
    }
    .logo img {
        height: 4rem;
    }
    .navbar a {
        font-size: 1.3rem;
        padding: 0 2rem;
    }
    .navbar a:hover {
        padding: 1rem 2rem;
    }
    #review-button {
        font-size: 1.3rem;
        margin-left: 1.8rem;
        padding: 0.5rem 2rem;
        border-radius: 0.8rem;
    }
}

@media (max-width: 850px) {
    .header {
        height: 3.2rem;
    }
    .logo img {
        height: 3.2rem;
    }
    .navbar a {
        font-size: 1.1rem;
        padding: 0 1.5rem;
    }
    .navbar a:hover {
        padding: 0.75rem 1.5rem;
    }
    #review-button {
        font-size: 1.1rem;
        margin-left: 1.3rem;
        padding: 0.4rem 1.5rem;
        border-radius: 0.6rem;
    }
}

@media (max-width: 680px) {
    .icons {
        display: inline-flex;
    }
    .icons #close-menu-button {
        display: none;
    }
    #menu-checkbox:checked~.icons #menu-button {
        display: none;
    }
    #menu-checkbox:checked~.icons #close-menu-button {
        display: block;
    }
    #menu-checkbox:checked~.navbar {
        height: 9.55rem;
    }
    #menu-checkbox:checked~.navbar a {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        background-color: rgb(231, 231, 231);
    }
    .navbar a {
        display: none;
        text-align: center;
        font-size: 1.1rem;
        padding: 0.75rem 0;
    }
    .navbar a:hover {
        padding: 0.75rem 0;
    }
    #review-button {
        position: absolute;
        top: -2.9rem;
        right: 5rem;
    }
}

#review-button:hover {
    background-color: black;
}

#review-page {
    position: fixed;
    width: 40vw;
    height: 25vw;
    background: white;
    border: 1px solid rgba(50,117,165,255);
    border-radius: 0.8vw;
    padding: 0.3vw;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#review-page h1 {
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
    margin-top: 1.2vw;
}

#subject-selector {
    font-size: 0.7vw;
    border-radius: 0.3vw;
    margin: 1.5% 5% 1% 5%;
    padding: 0.4vw;
    width: 90%;
}

#subject-selector:hover {
    background-color: rgb(231, 231, 231);
}

#review-page h6 {
    font-size: 0.7vw;
    margin: 1% 5% 0 5%;
}

#review-page textarea {
    resize: none;
    font-size: 0.7vw;
    border-radius: 0.2vw;
    margin: 1% 5% 0 5%;
    padding: 0.4vw;
    width: 35.1vw;
}

#review-page textarea:hover {
    background-color: rgb(231, 231, 231);
}

#textarea-review {
    height: 6vw;
}

#review-page button {
    font-size: 0.6vw;
    background-color: #474747;
    color: white;
    border-radius: 0.4vw;
    padding: 0.4vw 0;
    width: 6vw;
    cursor: pointer;
}

#review-page button:hover {
    background-color: black;
}

#close-button {
    position: absolute;
    bottom: 1vw;
    left: 2.3vw;
}

#submit-button {
    position: absolute;
    bottom: 1vw;
    right: 2.3vw;
}

.page-title {
    margin-top: 0.7vw;
}

.description {
    padding: 100px;
}