@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}

.navigation-bar {
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0 25px 80px;
    z-index: 10;    
}

.menu-container {
    display: inline-block;
    position: relative;
}

.logo {
    width: 77px;
    position: absolute;
    top: -44px;
    left: -80px;
}

.menu-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 25px;
}

.menu-container a:hover {
    background-color: rgb(204, 204, 204);
}

#review-button {
    font-size: 18px;
    font-weight: 600;
    background-color: #474747;
    color: white;
    padding: 15px 40px;
    border-radius: 18px;
    border: none;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

#review-button:hover {
    background-color: black;
}

#review-page {
    position: fixed;
    width: 40vw;
    height: 25vw;
    background: white;
    border: 1px solid rgba(50,117,165,255);
    border-radius: 0.8vw;
    padding: 0.3vw;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#review-page h1 {
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
    margin-top: 1.2vw;
}

#subject-selector {
    font-size: 0.7vw;
    border-radius: 0.3vw;
    margin: 1.5% 5% 1% 5%;
    padding: 0.4vw;
    width: 90%;
}

#subject-selector:hover {
    background-color: rgb(231, 231, 231);
}

#review-page h6 {
    font-size: 0.7vw;
    margin: 1% 5% 0 5%;
}

#review-page textarea {
    resize: none;
    font-size: 0.7vw;
    border-radius: 0.2vw;
    margin: 1% 5% 0 5%;
    padding: 0.4vw;
    width: 35.1vw;
}

#review-page textarea:hover {
    background-color: rgb(231, 231, 231);
}

#textarea-review {
    height: 6vw;
}

#review-page button {
    font-size: 0.6vw;
    background-color: #474747;
    color: white;
    border-radius: 0.4vw;
    padding: 0.4vw 0;
    width: 6vw;
    cursor: pointer;
}

#review-page button:hover {
    background-color: black;
}

#close-button {
    position: absolute;
    bottom: 1vw;
    left: 2.3vw;
}

#submit-button {
    position: absolute;
    bottom: 1vw;
    right: 2.3vw;
}

.page-title {
    margin-top: 0.7vw;
}

.description {
    padding: 100px;
}