@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 50px;
}

.subject-title {
    text-align: center;
    font-size: 27px;
    background-color: rgb(255, 181, 96);
    margin: 0;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.reviews-background {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 1px 0 52px 0;
    border-radius: 0 0 20px 20px;
}

.reviews-container {
    margin: 0 30px;
}

.reviews-title {
    font-size: 23px;
    font-weight: 700;
    margin: 10px 0 6px 0;
}

.reviews-content {
    background-color: azure;
    color: black;
    margin: 0;   
    padding: 0 15px;
    border: 2px solid #333;
    border-radius: 12px;
}

.reviews-head {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 0;
}

.reviews-body {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 6px;
    width: auto;
    overflow-wrap: break-word;
}

.reviews-button {
    float: right;
    background-color: azure;
    font-size: 16px;
    margin-top: 9px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.text-container {
    padding: 0 23px 0 0;
}

.textarea {
    background-color: azure;
    color: black;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
    border: 2px solid #333;
    outline: none;
    resize: none;
    max-height: 200px;
}

.textarea-head {
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
}

.textarea-body {
    font-size: 16px;
    border-radius: 12px;
}

.submit-button {
    float: right;
    background-color: azure;
    font-size: 16px;
    margin-top: 9px;
    margin-right: -23px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.text-error {
    float: left;
    color: red;
    font-size: 16px;
    margin: 4px 0 0 3px;
    padding: 0;
}